# Ignores
[Dd]ebug/
[Rr]elease/
*.suo
*.user
*.userosscache
*.sln.docstates
*.vssscc
*.vspcc
*.vspscc
*.vcxproj.user
*.log
*.pdb
*.ilk
*.meta
*.obj
*.pch
*.exp
*.lib
*.sbr
*.res
*.tlb
*.tlh
*.tmp
*.TMP
*.cdr
*.mdf
*.ldf
*.vmdk
*.svm
*.sublime-project
*.sublime-workspace
*.Backup
*.Backup.*
Thumbs.db
ehthumbs.db
[Bb]in/
[Oo]bj/
[Tt]emp/
[Rr]esult/
[Aa]ddIns/
[Rr]ootBin/
[Dd]eploy/
[Ll]og/
[Tt]race/

# VS Code
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json
.history/
.ionide/
.paket/paket.lock
paket-files/
testresults/
.vs/
compile_commands.json
packages/
*.DotSettings
*.DotSettings.user
~$*
*.pid

# NPM
node_modules/

# Rider
.idea/
*.iml

# macOS
.DS_Store